<div class="collection-menu">
  <%= link_to 'View', collections_path%></br>
  <%= link_to 'Create', new_tag_path%></br>
</div>
<div class="list-menu">
  <a>All</a></br>
  <a>#list1</a></br>
  <a>#list2</a></br>
  <a>#list3</a>
</div>
