/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


#bg-landing {
 // background-image: url("bg-landing2.jpg"), linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 30%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sign-out a{
  color: white;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.75vh;
  text-decoration: none;
}

#sign-out a:hover{
  color: #85EBBC;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.75vh;
  text-decoration: none;
}

#sign-up a{
  color: white;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.75vh;
  text-decoration: none;
}

#sign-up a:hover{
  color: #85EBBC;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.75vh;
  text-decoration: none;
}
