
.banner-results{
  color: white;
  // text-align: center;
  height: 100vh;

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;

}
.results-wrapper{
  bottom: 0px;
}

.banner-rusults h1,h3 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.banner-results h1{
  font-size: 50px;
}

.banner-results p {
  font-size: 14px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  padding: 20px;
}

.banner-poster{
  text-align: left;
  max-width: 300px;
  max-height: 300px;
  bottom: 0;
  width: auto;
  height: auto;
 // margin-top: 50px; works but must be a better way
}

.results-bottom{

  margin-top: 12%;
}
.results-content-bg{
  background: rgba(0,0,0,0.8);
  border-radius: 2%;
  padding: 15px;
}

ul{
  list-style: none;
}
.center{
  text-align: center;
}
