<div class="friend-nav">
  <%= link_to 'View', friendships_path%>
  <%= link_to 'Add', users_path%>
  <%= link_to 'Pending', pending_path%>
  <%= link_to 'Sent', sent_path%>
</div>
<!-- this is rendered to the index, pending, sent and the show pages-->
