<div class="container text-center" style="margin-top: 80px">
  <div class="row">
    <div class="col-xs-12">
      <h3>Mustachio is a social media, based on media</h3>
      <h4>Enjoy your me time</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h5>Collection</h5>
      <p>Create your collection of movies</p>
      <p>Customize your collection with lists, tags, ratings and movie review</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h5>Friends</h5>
      <p>Explore your friends's collections</p>
      <p>Share your lists with your love ones</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h5>Must</h5>
      <p>See what you MUST see!!</p>
      <p>No more time wasted choosing what to watch</p>
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
     <p>Soon Mustachio will provide you with a similar interface for tv shows and books. Stay tuned...</p>
   </div>
 </div>
<div class="row">
  <div class="col-xs-12">
    <h3>The Mustachio team</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'matthew.png', class: 'avatar-xlarge' %>
    <h4>Matthew</h4>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'margot.png', class: 'avatar-xlarge' %>
    <h4>Margot</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
   <p> And a many thanks to all of LeWagon team for their help and support. Special thanks to Ruben, Michelle, Victor and Gus for doing their best for us during the last few weeks of the projet. Thanks to all the barcelona-batch-44 for these intense few weeks... Keep on rollin' beautifull people &#9829;</p>
 </div>
</div>



</div>


