.friend-profiles-list-minimal{
    list-style:none;
    text-align: left;
    margin: 0 auto;
    // max-width: 750px;
    padding: 0;
    border: 1px solid #85EBBC;
    border-radius: 50px;
}

.friend-profiles-list-minimal li{
    display: inline-block;
    box-sizing:border-box;
    text-align:left;
    font:normal 16px sans-serif;
    padding: 15px;
    width: 100%;

    // min-width:200px;
}

.friend-profiles-list-minimal .friend-avatar{
    float: left;
    padding-right: 10px;
}

.friend-profiles-list-minimal .friend-avatar img{
    border-radius: 50%;
    border:0;
}

.friend-profiles-list-minimal .friend-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 5px 0 0;
    // max-width: 160px;
}

.friend-profiles-list-minimal .friend-name a, .friend-profiles-list-minimal .friend-name p{
  color:#383838;
  text-decoration: none;
  // font-weight: bold;
}

.friend-profiles-list-minimal .friend-name span{
    display: block;
    font-size: 11px;
    color: #85EBBC;
    padding-top:10px;
    font-weight: normal;
    float: right;
    font-size: 14px;

}



.friend-title {
  flex: display;
  justify-content: flex-end;
  width: 40vw;
  transition: all 0.15s ease;
  // font-weight: lighter;
  // color: #383838;
  // border: 1px solid #85EBBC;
  // border-radius: 50px;
  outline: none;
}

.friend-name {
  flex: 0 1 40vw;
  font-weight: lighter;
  // color: #85EBBC;
  border: none;
  font-size: 24px;
  // border-bottom: 1px solid #85EBBC;
  // padding-bottom: 5px;
}

.friend-name-profile {
  flex: 0 1 40vw;
  font-weight: lighter;
  color: #85EBBC;
  border: none;
  font-size: 24px;
  border-bottom: 1px solid #85EBBC;
  padding-bottom: 5px;
}



.friend-card {
  display: flex;
  align-items: center;
  border: 1px solid #85EBBC;
  padding: 20px;
  margin: 10px;
  border-radius: 60px;
  background: white;
  color: #383838;
  text-decoration: none;
  &:hover {
    background: #85EBBC;
    text-decoration: none;
    color: #383838;
  }
  h3 {
    margin: 0;
    padding-left: 10px;
    flex: 1 auto;
    font-size: 20px;
  }
}

.friend-movie {
  height: 400px;
  margin: 20px auto;
  background-size: size;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  .add-to-collection {
    opacity: 0;
  }
}
.friend-movie:hover .add-to-collection {
  opacity: 1;
}
.friend-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  a {
    color: white;
    background: #928c8c;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.4;
    flex: 0 0 24%;
    text-align: center;
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.friend-input {
  flex: 0 1 40vw;
  font-weight: lighter;
  color: #85EBBC;
  background: transparent;
  // float: left;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #85EBBC;
  padding-bottom: 5px;
  margin: 20px;

}

// .friend-search {
//   flex: display;
//   justify-content: flex-end;
//   width: auto;
//   transition: all 0.15s ease;
//   font-weight: lighter;
//   color: #383838;
//   outline: none;
// }

