// Wrappers

//Used on home page
.wrapper-white{
  background-color: RGBA(255, 255, 255, 0.60);
  padding: 10px;
  margin-top: 10px;
}

//Not sure where this is used
.wrapper-green{
  background-color: RGBA(133, 235, 188, 0.60);
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
